:root {
	--side-margin: 50px;
	--vertial-margin: 10px;
	--slippi-width: calc(100vw - 16px);
	--charcoal: #36454F;
	--titlebarheight: 140px;
}

/* CSS for the bracket mostly based off of https://codepen.io/sdudnyk/pen/bWbqMb */

body {
	background-color: var(--charcoal);
	font-size: 13px;
	font-family: sans-serif;
}

#outer {
	text-align: center;
}

#wrapper {
	display: inline-block;
	text-align: left;
	padding-right: 25px;
	padding-top: var(--titlebarheight);
}

.item {
	display: flex;
	flex-direction: row-reverse;
	padding: 4px 0;
}

.item .set:hover {
	background: #d4d4c1;
	cursor: pointer;
}

.item .set {
	display: grid;
	grid-template-columns: 110px 10px;
	background: beige;
	padding: 2px;
	box-shadow: 3px 3px rgba(6, 8, 10, 0.75);
	z-index: 2;
}

.item .set > div {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item .set > div:nth-child(1), .item .set > div:nth-child(2) {
	border-bottom: 1px solid black;
}

.item .set > div:nth-child(even) {
	text-align: right;
	border-left: 1px solid black;
}

.item-parent {
	position: relative;
	margin-left: var(--side-margin);
	display: flex;
	justify-content: center;
	align-items: center;
}
.item-parent::after {
	position: absolute;
	content: '';
	width: calc(var(--side-margin)/2);
	height: 2px;
	left: 0;
	top: 50%;
	background-color: #fff;
	transform: translateX(-100%);
}
.item-childrens {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.item-child {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	margin-top: var(--vertical-margin);
	margin-bottom: var(--vertical-margin);
	position: relative;
}
.item-child::before {
	content: '';
	position: absolute;
	background-color: #fff;
	right: 0;
	top: 50%;
	transform: translateX(100%);
	width: 25px;
	height: 2px;
}
.item-child::after {
	content: '';
	position: absolute;
	background-color: #fff;
	right: calc(var(--side-margin) / -2);
	height: calc(50% + 22px) ;
	width: 2px;
	top: 50%;
}
.item-child:last-child::after {
	transform: translateY(-100%);
}
.item-child:only-child::after {
	display: none;
}

#visualizer {
	width: var(--slippi-width);
	height: calc(var(--slippi-width) * 5 / 8);
	max-height: calc(100vh - 72px);
}

#modal {
	display: none;
	position: fixed;
	bottom: 8px;
	left: 8px;
	z-index: 1000;
	background-color: var(--charcoal);
}

#topbar {
	color: beige;
	font-weight: bold;
	font-size: large;
	background: var(--charcoal);
	padding: 4px;
	border: 1px solid beige;
	margin-bottom: 2px;
	text-align: center;
}

#close {
	float: right;
	cursor: pointer;
}

#chooseyourtournamentwrapper {
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
}

#titlebar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
	position: fixed;
}

#titleimg {
	height: var(--titlebarheight);
	width: var(--titlebarheight);
}

#titlename {
	color: white;
	font-size: 36pt;
	font-weight: bold;
	margin-left: 50px;
}

@media only screen and (max-width: 600px) {
	:root {
		--titlebarheight: 70px;
	}

	#titlename {
		font-size: 14pt;
		margin-left: 10px;
	}
}